# Session 1-- Worksheet

- Module 1 covers python basics
    - Notes (Current page)
    - Video

- Module 2 covers downloading
    - Notes
    - Video

# 1. Data types
## 1.1 Save string

## 1.2 Create list with 4 elements

### 1.2.1 Select 1st through 3rd elements
- Remember python numbering begins at 0

## 1.3 Create dictionary with 3 elements

### 1.3.1 Print values

### 1.3.2 Print keys

## 2. Pandas

In [2]:
import pandas as pd

### 2.1 Import data
- pd.read_stata
- pd.read_csv
- pd.read_excel

In [14]:
url = 'https://www.macrohistory.net/app/download/9834512569/JSTdatasetR5.xlsx?t=1641215586'
# Note this is a different function than we used before!
# This function is read_excel instead of read_csv
df = pd.read_excel(url, 
                   sheet_name = 1
                  )
df.head(4)

,year,country,iso,ifs,pop,rgdpmad,rgdppc,rconpc,gdp,iy,...,eq_capgain,eq_dp,eq_capgain_interp,eq_tr_interp,eq_dp_interp,bond_rate,eq_div_rtn,capital_tr,risky_tr,safe_tr
0,1870,Australia,AUS,193,1775.0,3273.239437,13.836157,21.449734,208.78,0.109266,...,-0.070045,0.071417,NaN,NaN,NaN,0.049118,0.066415,NaN,NaN,NaN
1,1871,Australia,AUS,193,1675.0,3298.507463,13.936864,19.930801,211.56,0.104579,...,0.041654,0.065466,NaN,NaN,NaN,0.048446,0.068193,NaN,NaN,NaN
2,1872,Australia,AUS,193,1722.0,3553.426249,15.044247,21.085006,227.40,0.130438,...,0.108945,0.062997,NaN,NaN,NaN,0.047373,0.069861,NaN,NaN,NaN
3,1873,Australia,AUS,193,1769.0,3823.629169,16.219443,23.254910,266.54,0.124986,...,0.083086,0.064484,NaN,NaN,NaN,0.046720,0.069842,NaN,NaN,NaN

## 2.2 Basics

### 2.2.1 Show first 2 rows

### 2.2.2 Show last 3 rows

### 2.2.3 Show descriptive stats

# 3. Manipulation

## 3.1 Sub-set columns

### 3.1.A Show column names

### 3.1.1 Select population column

### 3.1.2 Select pop, year, country columns

## 3.2 Sub-set rows

### 3.2.A Show unique country names

### 3.2.1 Select only Japan

In [ ]:
#This is a hint
mask = df.country == 'Australia'

### 3.2.2 Select Japan and France

## 3.3 Select Spain and only year, country and population columns

# 4. Misc 

## 4.1 Rename year and gdp columns

## 3.2 Rename iso rows: JPN to Japan & ESP to Spain

In [18]:
df.iso.unique()

array(['AUS', 'BEL', 'CAN', 'CHE', 'DEU', 'DNK', 'ESP', 'FIN', 'FRA',
       'GBR', 'IRL', 'ITA', 'JPN', 'NLD', 'NOR', 'PRT', 'SWE', 'USA'],
      dtype=object)