# Session 2-- Manipulating data and regression

## Session 2 is composed of 3 parts¶

1. Module 3: Manipulating data
    - Notes (Current page)
    - Video
2. Module 4: Regression
    - Notes
    - Video

3. Excercise to practice material covered in Modules 3 & 4
    - Link

# Module 3: Manipulating data

## R.1 Dataframe basics

### R.1.1 Read csv file: From github

In [1]:
url = 'https://raw.githubusercontent.com/corybaird/PLCY_610_public/master/Discussion_sections/Disc1_Intro/vote.csv'
df = read.csv(url)

### R.1.2 Display: first lines of the dataframe

`Function:` head(DF_NAME, # of lines you want to display)

In [12]:
# Shows the first 3 lines
head(df, 3)

  state vote income education age sex
1 AR    1     9     2         73  0
2 AR    1    11     2         24  0
3 AR    0    12     2         24  1

### R.1.3 Display: column names

`Function:` names(DF_NAME)

In [13]:
names(df)

[1] "state"     "vote"      "income"    "education" "age"       "sex"

### R.1.4 Display: summary stats
`Function:` summary(DF_NAME)

In [14]:
summary(df)

    state                vote            income        education
 Length:1502        Min.   :0.0000   Min.   : 4.00   Min.   :1.00
 Class :character   1st Qu.:1.0000   1st Qu.: 9.00   1st Qu.:2.00
 Mode  :character   Median :1.0000   Median :13.00   Median :3.00
                    Mean   :0.8555   Mean   :12.06   Mean   :2.65
                    3rd Qu.:1.0000   3rd Qu.:16.00   3rd Qu.:4.00
                    Max.   :1.0000   Max.   :17.00   Max.   :4.00
      age              sex
 Min.   :  5.00   Min.   :0.0000
 1st Qu.: 36.00   1st Qu.:0.0000
 Median : 49.00   Median :1.0000
 Mean   : 49.28   Mean   :0.5593
 3rd Qu.: 62.00   3rd Qu.:1.0000
 Max.   :120.00   Max.   :1.0000

### R.1.5 Selecting a column
- Select the dataframe column with a '$\mathit{\$}$'
    - DATEFRAME$\mathit{\$}$COLUMNNAME
    
- Use the mean function to find average age

`Function:` mean(DF_NAME$\mathit{\$}$Col_Name)

`Function:` sd(DF_NAME$\mathit{\$}$Col_name)

In [15]:
#Shows mean of age column
mean(df$age)

[1] 49.27896

In [16]:
#Shows standard deviation of age column
sd(df$age)

[1] 17.59183

# 1. DPLYR
- I want to introduce you to the idea of libraries!
    - Libraries simply allow you to use more functions!
- If you want to know more about DPLYR please visit this [tutorial](https://github.com/corybaird/Development_economics/blob/master/TA_Sessions/R/W1_DPLYR/W1_DPLYR_code.ipynb) I made for a development economics course

## 1.A Install library
# Common mistake to avoid!--Confirm you have installed libraries
## Step 1:
install.packages('NAME_OF_PACKAGE')

## Step 2:
library(NAME_OF_PACKAGE)

In [17]:
#Step 1
#install.packages('dplyr')

In [19]:
#Step 2
library(dplyr)

## 1.B Pipe operator: %>%

### Shortcut on mac: <kbd>Cmd</kbd>+<kbd>Shift</kbd>+ <kbd>m</kbd>

### Shortcut on pc: <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+ <kbd>m</kbd>

In [20]:
df %>% head(2)

  state vote income education age sex
1 AR    1     9     2         73  0
2 AR    1    11     2         24  0

# 1. Select: Column select

## 1.1 Select multiple columns
- Just type the name of the column in the select() function

In [21]:
df  %>% 
select(vote, income) %>% 
head(3)

  vote income
1 1     9
2 1    11
3 0    12

## 1.2 Select: advanced conditions

### 1.2.1 Select by column name that STARTS with letter or string

In [22]:
df %>% #Dataframe
select(starts_with('v'))%>% #Select column named X
head(2) #Shows only first 2 obs

  vote
1 1
2 1

### 1.2.2 Select by column name that ENDS with letter or string

In [23]:
df %>% #Dataframe
select(ends_with('ion'))%>% #Select column named X
head(2) #Shows only first 2 obs

  education
1 2
2 2

### 1.2.3 Select by column name that CONTAINS with letter or string

In [24]:
df %>% #Dataframe
select(contains('c'))%>% #Select column named X
head(2) #Shows only first 2 obs

  income education
1  9     2
2 11     2

# 2. Filter: Row select

## 2.1 Filter by 1 condition

In [25]:
df %>% 
filter(income>6) %>% 
head(3)

  state vote income education age sex
1 AR    1     9     2         73  0
2 AR    1    11     2         24  0
3 AR    0    12     2         24  1

## 2.2 Filter by 2 conditions

In [26]:
df %>% 
filter(income>6 & income<9) %>% 
head(3)

  state vote income education age sex
1 AR    1    8      1         78  0
2 AR    1    8      2         45  0
3 AR    1    7      1         56  0

## 2.3 Filter by not equal to condition

In [27]:
df %>% 
filter(vote!=1) %>% 
head(3)

  state vote income education age sex
1 AR    0    12     2         24  1
2 AR    0    14     4         31  0
3 AR    0    17     2         50  1

# 3. Arrange: Rearrange rows by condition

In [28]:
df %>% 
arrange(age)%>% #Add desc(age) to show descending order
head(5)

  state vote income education age sex
1 AR    1    15     2          5  0
2 AR    1    16     2         18  1
3 AR    1     8     1         18  1
4 AR    1    13     2         18  0
5 AR    1     4     3         18  0

# 4 Mutate: Create new column

## 4.1 Create one column

In [29]:
df  %>% 
mutate(income_log = log(income)) %>% 
head(3)

  state vote income education age sex income_log
1 AR    1     9     2         73  0   2.197225
2 AR    1    11     2         24  0   2.397895
3 AR    0    12     2         24  1   2.484907

## 4.2 Create multiple columns

In [30]:
df  %>% 
mutate(income_log = log(income),
      income_thousands = income*1000) %>% 
head(3)

  state vote income education age sex income_log income_thousands
1 AR    1     9     2         73  0   2.197225    9000
2 AR    1    11     2         24  0   2.397895   11000
3 AR    0    12     2         24  1   2.484907   12000

# 5. Summarise: Summary stats

In [31]:
df %>% 
summarise(
mean_educ = mean(education),
mean_age = mean(age),
median_edu = median(education))

  mean_educ mean_age median_edu
1 2.6498    49.27896 3

# 6 Groupby

In [32]:
df %>% 
group_by(vote) %>% 
summarise(mean_income = mean(income))

  vote mean_income
1 0    10.85714
2 1    12.26459