# Session 3-- Functions & downloading

# Module 6-- Downloading


- Module 5: Functions
    - Notes (Current page)
    - Video

- Module 6: Downloading
    - Notes
    - Video

In [1]:
import pandas as pd

# 1. Importing data

## 1.1 From local file

In [2]:
df = pd.read_excel(
    'Input/Boston_Metro_Area.xlsx',
    header=[0,1])
df.head(2)

  Select characteristics              Total Occupied without rent  \
      Unnamed: 0_level_1 Unnamed: 1_level_1    Unnamed: 2_level_1
0                    NaN                NaN                   NaN
1                  Total            1143622                 32760

  Last month’s payment status                                           \
                          Yes      No Rent was deferred Did not report
0                         NaN     NaN               NaN            NaN
1                      937610  160916              6899           5436

  Did not report to tenure
        Unnamed: 7_level_1
0                      NaN
1                   422491

## 1.2 From github

In [3]:
url = 'https://raw.githubusercontent.com/milaan9/93_Python_Data_Analytics_Projects/main/007_Breast_Cancer_Prediction_with_ML/data/data_clean.csv'
df = pd.read_csv(url)
df.head(3)

,Unnamed: 0,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,0,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,1,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,2,M,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

## 1.3 From website

In [4]:
url = 'https://www.macrohistory.net/app/download/9834512569/JSTdatasetR5.xlsx?t=1641215586'
df = pd.read_excel(url, sheet_name=1)
df.head(2)

,year,country,iso,ifs,pop,rgdpmad,rgdppc,rconpc,gdp,iy,...,eq_capgain,eq_dp,eq_capgain_interp,eq_tr_interp,eq_dp_interp,bond_rate,eq_div_rtn,capital_tr,risky_tr,safe_tr
0,1870,Australia,AUS,193,1775.0,3273.239437,13.836157,21.449734,208.78,0.109266,...,-0.070045,0.071417,NaN,NaN,NaN,0.049118,0.066415,NaN,NaN,NaN
1,1871,Australia,AUS,193,1675.0,3298.507463,13.936864,19.930801,211.56,0.104579,...,0.041654,0.065466,NaN,NaN,NaN,0.048446,0.068193,NaN,NaN,NaN

# 2. Libraries

## 2.1 wbgapi library

In [5]:
import wbgapi as wb

In [6]:
data = [
    'NE.TRD.GNFS.ZS', #Trade (% of GDP)
    'NY.GDP.MKTP.CD', #GDP (current US$)
    'SI.POV.GINI'# Gini index (World Bank estimate)
]

In [7]:
df = wb.data.DataFrame(
    series = data, 
    economy = ['USA','JPN'], 
    time = range(2010, 2020))
df.head(2)

                              YR2010        YR2011        YR2012  \
economy series
JPN     NE.TRD.GNFS.ZS  2.849847e+01  3.019496e+01  3.047091e+01
        NY.GDP.MKTP.CD  5.759072e+12  6.233147e+12  6.272363e+12

                              YR2013        YR2014        YR2015  \
economy series
JPN     NE.TRD.GNFS.ZS  3.397877e+01  3.743143e+01  3.542741e+01
        NY.GDP.MKTP.CD  5.212328e+12  4.896994e+12  4.444931e+12

                              YR2016        YR2017        YR2018        YR2019
economy series
JPN     NE.TRD.GNFS.ZS  3.131025e+01  3.442321e+01  3.663893e+01  3.476098e+01
        NY.GDP.MKTP.CD  5.003678e+12  4.930837e+12  5.036892e+12  5.148782e+12

## 2.2 DB economics
- https://db.nomics.world/UNCTAD

In [8]:
from dbnomics import fetch_series, fetch_series_by_api_link

In [9]:
df = fetch_series("UNCTAD", "MTTGRA",
                  max_nb_series = 1000
                 )
df.head(2)

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,frequency,economy,flow,measure,Frequency,Economy,Flow,Measure
0,annual,UNCTAD,MTTGRA,"Merchandise: Total trade growth rates, annual",A.exports.annual-average-growth-rate.acp-africa,Annual – ACP: Africa – Exports – Annual averag...,1981,1981-01-01,-20.562973,-20.562973,A,acp-africa,exports,annual-average-growth-rate,Annual,ACP: Africa,Exports,Annual average growth rate
1,annual,UNCTAD,MTTGRA,"Merchandise: Total trade growth rates, annual",A.exports.annual-average-growth-rate.acp-africa,Annual – ACP: Africa – Exports – Annual averag...,1982,1982-01-01,-16.59465,-16.59465,A,acp-africa,exports,annual-average-growth-rate,Annual,ACP: Africa,Exports,Annual average growth rate

In [10]:
df.series_name.unique()[:3]

array(['Annual – ACP: Africa – Exports – Annual average growth rate',
       'Annual – ACP (African, Caribbean and Pacific Group of States) – Exports – Annual average growth rate',
       'Annual – ACP: Caribbean – Exports – Annual average growth rate'],
      dtype=object)

## 2.3 Pandasmx

In [11]:
import pandasdmx as pdsdmx

/Users/corybaird/opt/miniconda3/lib/python3.8/site-packages/pandasdmx/remote.py:11: RuntimeWarning: optional dependency requests_cache is not installed; cache options to Session() have no effect
  warn(

In [12]:
oecd = pdsdmx.Request('OECD')
data_response = oecd.data(resource_id='PRICES_CPI', 
                          key='all?startTime=2019')
df = data_response.write().to_frame()
df.head(2)

                                                    value
LOCATION SUBJECT  MEASURE FREQUENCY TIME_PERIOD
ARG      CP010000 GP      A         2019         58.36288
                                    2020         46.96305

# 3. API

- Must register first

## 3.1 FRED

In [13]:
from fredapi import Fred
fred = Fred(api_key='YOURKEY')

In [14]:
df = fred.get_series('GDPC1')
df.head(2)

1947-01-01    2034.450
1947-04-01    2029.024
dtype: float64

### 3.1.1 Loop
https://fred.stlouisfed.org/series/CANA

In [15]:
df = fred.get_series("CANA")
df.head(2)

1990-01-01    12491.6
1990-02-01    12502.0
dtype: float64

In [16]:
import time
master = []
for state in ['CA','MN','TX','MD']:
    series = fred.get_series("{}NA".format(state))
    series.name = 'TNF_'+state
    master.append(series)
    time.sleep(2)

In [17]:
df = pd.concat(master, axis=1)
df.head(3)

             TNF_CA  TNF_MN  TNF_TX  TNF_MD
1990-01-01  12491.6  2123.6  7026.9  2173.8
1990-02-01  12502.0  2129.7  7037.7  2185.7
1990-03-01  12502.0  2130.6  7057.3  2193.2

# 4. Download zip file directly to computer

## 4.1 Download zip

In [18]:
import requests, zipfile, io
url = "http://www.ennvih-mxfls.org/english/assets/hh02dta_b1.zip"
r = requests.get(url)

## 4.2 Create new folder

In [20]:
import os
#os.mkdir('zip_out')

## 4.3 Unzip to new folder

In [21]:
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("zip_out")

## 4.4 Read with for loop

In [22]:
path = 'zip_out/hh02dta_b1/'
files = os.listdir(path)
files

['i_portad.dta', 'i_cs1.dta', 'i_conpor.dta', 'i_cs.dta', 'i_ne.dta']

In [23]:
df = pd.read_stata(path + 'i_portad.dta')
df.head(2)

    ent  catorcena   folio   ls   rel  edad
0  20.0        2.0  1000.0  2.0  20.0  35.0
1  20.0        2.0  2000.0  2.0  20.0  42.0

In [24]:
dfs = []
for file in files:
    df = pd.read_stata(path + 'i_portad.dta')
    df['file_name'] = file
    dfs.append(df)

In [25]:
df = pd.concat(dfs, axis=0)
df.head(2)

    ent  catorcena   folio   ls   rel  edad     file_name
0  20.0        2.0  1000.0  2.0  20.0  35.0  i_portad.dta
1  20.0        2.0  2000.0  2.0  20.0  42.0  i_portad.dta

In [26]:
df.file_name.unique()

array(['i_portad.dta', 'i_cs1.dta', 'i_conpor.dta', 'i_cs.dta',
       'i_ne.dta'], dtype=object)

# 5. Methods not covered
## 5.1 JSON

## 5.2 XML